%head
  %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  %script{ :src => "/updating.js" }
    
%body
  %div#debug
    %p

  %h1 Deployments Tracker
  %a{:href => '/update_repo', :id => 'updating_repo'}
    Update
  %h2 
    Repo status:
    %span#current_status{:style => "color: blue;"}
  %p#time_running
  %table
    %thead
      %tr
        %th Environment
        %th Date & time of last deployment
    %tbody
      - @table_data.sort_by {|r| r[2] }.reverse.each do |td|
        %tr
          %td
            = td[0].to_s
          %td
            = td[1].to_s
%input{:type => 'hidden', :id => 'for_refresh', :value => 'false'}
